@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --clr-scrollbar-color: #BCC0C4;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: #F0F2F5;
}

.custom-sidebar::-webkit-scrollbar {
    width: 8.5px;
    z-index: 999999;
}


.custom-sidebar::-webkit-scrollbar-track {
    border-radius: 100vh;
}

.custom-sidebar::-webkit-scrollbar-thumb {
    background: var(--clr-scrollbar-color);
    border-radius: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;